#menuForm{
	top:0%;
	left:0%;
	width:100%;
	height:100%;
	background-color:Gray;
	opacity:0;
}

Button{
	top:70%;
	height:10%;
	width:10%;
	border-width:0px;
	background-color:#555555;
	color:White;
	font-family:"fonts/Roboto-Bold.ttf";
}

#versionInfo{
	left:87%;
	font-family:"fonts/Roboto-Medium.ttf";
}

#SelectMissionButton{
	left:45%;
	top:20%;
	width:10%;
	height:5%;
	content:"Local Game";
}

#OnlineMissionButton{
	disabled:1;
	left:45%;
	top:30%;
	width:10%;
	height:5%;
	content:"Online Game";
}

#QuitButton{
	left:45%;
	top:70%;
	width:10%;
	height:5%;
	content:"Quit Game";
}

#SettingsButton{
	disabled:1;
	left:45%;
	top:50%;
	width:10%;
	height:5%;
	content:"Settings";
}

#AboutButton{
	disabled:1;
	left:45%;
	top:60%;
	width:10%;
	height:5%;
	content:"About";
}

#EditorButton{
	left:45%;
	top:40%;
	width:10%;
	height:5%;
	content:"Level Editor";
}

